<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/styles_courseDetail.css">
    <title>We Do Studio - Detalle de curso</title>    
</head>

<body>
    
  <%- include('../partials/header') %>

    <main>
        <section>
            <div class="sublinks">
                <div class="root">
                    <a href="/">Home</a>
                    <p>/ <%= course.name %></p>
                </div>
                <div class="edit">
                    <a href="/courses/editCourses/<%= course.id %>">Editar</a>
                 
                </div>
            </div>
            <article>               
                <div class="imagenes">
                    <div class="img_principal">
                        <img src="/images/<%= course.image %>" alt="Foto artículo 1" width="100%">
                    </div>                                        
                </div>
                <div class="titulo">
                    <h1><%= course.name %></h1>
                    <h4>Curso de un máximo de <%= course.initialCapacity %> personas</h4>
                </div>
                <div class="informacion">
                    <div class="descripcion">
                        <h3>Descripcion</h3>
                        <p><%= course.description %></p>                        
                    </div>                    
                </div>
                <div class="datos_compra">
                    <div class="color_y_precio">                        
                        <h2 class="precio">$ <%= course.price %></h2>
                    </div>
                    <form class="compra" action="/courses/courseCart" method="POST">
                        <div class="cantidad">
                            <label for="cantidad">Cantidad:</label>
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <br>
                            <br>
                            <div>
                                <p>Quedan <%= course.actualCapacity %> lugares!</p>
                            </div>   
                        </div>   
                        <div class="boton_compra">
                            <button type="submit">Comprar</button>                    
                        </div>                         
                    </form>                       
                </div>
                <div class="envios">
                    <p>Envios a todo el pais</p>
                    <a href="">Calcular costos de envío</a>
                </div>
            </article>
        </section>
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>