<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/styles_createCourses.css">
    <%- include('../partials/head') %>
    </head>
<body>
    <%- include('../partials/header') %>z

    <main>
        <div class="errores">
            <ul></ul>
        </div>
        <div class="errorImagen">
            
        </div>

        <form action="/courses/store" method="POST" enctype="multipart/form-data" class="form" >
            <div class="upload">
            <h3 class="form_h3">Crear</h3>

            <label class="form_texto" for="name">Nombre:</label>
            <input 
             type="text"
              name="name" 
              id="name" 
              class="write_upload <%= locals.errors && errors.name ? 'is-invalid' : null %>"
              value= "<%= locals.oldData ? oldData.name : null %>"
              >
              <small class="text-danger name"></small>
            <% if (locals.errors && errors.name) {%>
            <div class="text-danger"><%= errors.name.msg %></div> 
            <% } %>
            
            <label class="form_texto" for="description">Descripcion:</label>
            <input 
             
            type="text" 
            name="description"
             id="description"
             class="write_upload <%= locals.errors && errors.description ? 'is-invalid' : null %>" 
             value= "<%= locals.oldData ? oldData.description : null %>"
             >
            <% if (locals.errors && errors.description) {%>
                <div class="text-danger"><%= errors.description.msg %></div> 
                <% } %>
            <label class="form_texto" for="keywords">Palabras clave:</label>
            <input class="write_upload" type="text" name="keywords" id="keywords">
            <label class="form_texto" for="image">Imagen:</label>
            <input class="write_upload" type="file" name="image" id= "image">
            <% if (locals.errors && errors.image) {%>
                <div class="text-danger"><%= errors.image.msg %></div> 
                <% } %>
            <!-- Image preview -->
            
        <div id="imagePreview"></div>
            
        <label class="form_texto" for="duration">Duración:</label>
            <input 
            class="write_upload <%= locals.errors && errors.duration ? 'is-invalid' : null %>" 
             type="text" 
             name="duration"
             id="duration"
             value= "<%= locals.oldData ? oldData.duration : null %>"
             >
            <% if (locals.errors && errors.duration) {%>
                <div class="text-danger"><%= errors.duration.msg %></div> 
                <% } %>



            <label class="form_texto" for="level">Nivel:</label>
            <select 
            name="level"
            type="text"
            id="level"
            class="write_upload <%= locals.errors && errors.level ? 'is-invalid' : null %>">
            <option>Amateur</option>
            <option>Semi-profesional</option>
            <option>Profesional</option>
            </select>
        

            <label class="form_texto" for="price">Precio:</label>
            <input
            class="write_upload <%= locals.errors && errors.price ? 'is-invalid' : null %>"
             type="number"
              name="price"
               id="price"
               value= "<%= locals.oldData ? oldData.price : null %>"
             >
            <% if (locals.errors && errors.price) {%>
                <div class="text-danger"><%= errors.price.msg %></div> 
                <% } %>
               






            <label class="form_texto" for="discount">Descuento:</label>
            <input 
            class="write_upload <%= locals.errors && errors.discount ? 'is-invalid' : null %>"
            type="number"
            name="discount" 
            id="discount"
            value= "<%= locals.oldData ? oldData.discount : null %>"
            >
           <% if (locals.errors && errors.discount) {%>
               <div class="text-danger"><%= errors.discount.msg %></div> 
               <% } %>
            
            >
            





            <label class="form_texto" for="initialCapacity">Capacidad Inicial:</label>
            <input 
            class="write_upload <%= locals.errors && errors.initialCapacity ? 'is-invalid' : null %>"
             type="number" 
             name="initialCapacity" 
             id="initialCapacity"
             value= "<%= locals.oldData ? oldData.initialCapacity : null %>">
             <% if (locals.errors && errors.initialCapacity) {%>
                <div class="text-danger"><%= errors.initialCapacity.msg %></div> 
                <% } %>>


            <label class="form_texto" for="minimalCapacity">Capacidad Mínima:</label>
            <input
            class="write_upload <%= locals.errors && errors.minimalCapacity ? 'is-invalid' : null %>"
             type="number"
              name="minimalCapacity"
               id="minimalCapacity"
               value= "<%= locals.oldData ? oldData.minimalCapacity : null %>">
               <% if (locals.errors && errors.minimalCapacity) {%>
                <div class="text-danger"><%= errors.minimalCapacity.msg %></div> 
                <% } %>>




            <label class="form_texto" for="actualCapacity">Capacidad Actual:</label>
            <input
            class="write_upload <%= locals.errors && errors.actualCapacity ? 'is-invalid' : null %>" 
             type="number" 
             name="actualCapacity" 
             id="actualCapacity"
             value= "<%= locals.oldData ? oldData.actualCapacity : null %>">

             <% if (locals.errors && errors.actualCapacity) {%>
                <div class="text-danger"><%= errors.actualCapacity.msg %></div> 
                <% } %>>
            
            
            
             <input class="enviaData" type="submit" value="Crear item">
        </div>
        </form>
        
</main>



<%- include('../partials/footer') %>
<script src="/js/js-cursos.js"></script>
</body>
</html>