<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/styles_editCourses.css">
    <%- include('../partials/head') %>
    </head>
<body>
    <%- include('../partials/header') %>

    <main>
        <!-- Borrar esta línea esto cuando se termine con el CRUD de Cursos --> <% locals.isLogged = 1 %>
        <% if (locals.isLogged) { %>
        <form action="/courses/editCourses/<%= course.id %>" method="POST" enctype="multipart/form-data">
            <div class="edit">
            <h3 class="form_h3">Editar articulo</h3>
            <label class="form_texto" for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= course.name %>" class="write_upload<%= locals.errors && errors.name ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="description">Descripción:</label>
            <input class="write_upload" type="text" name="description" id="description" value="<%= course.description %>">
            <label class="form_texto" for="keywords">Palabras clave:</label>
            <input class="write_upload" type="text" name="keywords" id="keywords" value="<%= course.keywords %>">
            <label class="form_texto" for="old_image">Imagen Actual:</label>
            <input class="write_upload" type="old_image" name="old_image" value="<%= course.image %>">
            <label class="form_texto" for="image">Nueva imagen:</label>
            <input class="write_upload" type="file" name="image" value="<%= course.image %>">
            <label class="form_texto" for="duration">Duración:</label>
            <input class="write_upload" type="text" name="duration" id="duration" value="<%= course.duration %>">
            <label class="form_texto" for="level">Nivel:</label>
            <input class="write_upload" type="text" name="level" id="level" value="<%= course.level %>">
            <label class="form_texto" for="price">Precio:</label>
            <input class="write_upload" type="text" name="price" id="price" value="<%= course.price %>">
            <label class="form_texto" for="discount">Descuento:</label>
            <input class="write_upload" type="text" name="discount" id="discount" value="<%= course.discount %>">
            <label class="form_texto" for="initialCapacity">Capacidad Inicial:</label>
            <input class="write_upload" type="text" name="initialCapacity" id="initialCapacity" value="<%= course.initialCapacity %>">
            <label class="form_texto" for="minimalCapacity">Capacidad Mínima:</label>
            <input class="write_upload" type="text" name="minimalCapacity" id="minimalCapacity" value="<%= course.minimalCapacity %>">
            <label class="form_texto" for="actualCapacity">Capacidad Actual:</label>
            <input class="write_upload" type="text" name="actualCapacity" id="actualCapacity" value="<%= course.actualCapacity %>">
            <div class="botones_input">
                <input class="enviaData" type="submit" value="Confirmar Edicion">
            </div>
        </form>
        <form class="form is-inline" action="/courses/courseDetail/<%= course.id %>?_method=DELETE" method="POST">
            <div class="botones_input"></div>
                <button type="submit" class="enviaData">Borrar</button>
            </div>
        </form>
        
        <% } else { %>
            <div class = "not-logged">
            <br>
            <br>
            <br>
            <br>
            <h4> Debes estar logueado para poder editar el curso </h4>
            <br>
            <br>
            </div>
            <% } %>
</main>



<%- include('../partials/footer') %>
</body>
</html>