<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/styles_createProducts.css">
    <%- include('../partials/head') %>
    <script src="/js/products.js"></script>
    </head>
<body>
    <%- include('../partials/header') %>z

    <main>
        <form action="/products/store" method="POST" enctype="multipart/form-data">
            <div class="upload">
            <h3 class="form_h3">Crear</h3>
            <label class="form_texto" for="name">Nombre:</label>
            <input type="text" name="name" id="name" class="write_upload<%= locals.errors && errors.name ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.name : null %>">
            <small class="text-danger productName"></small>
            <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="category">Categoría:</label>            
            <select name="category" class="write_upload<%if(locals&&locals.errors&&errors.category){%><%="text-danger"%><%}%>">
                <option value="" disabled selected>Elegí una categoria... </option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"
                        <% if (locals.oldData && oldData.category == category.id) { %>
                            selected="selected" 
                        <% } %>>
                        <%= category.name %>
                    </option>
                    <% }); %>
                </select>
            </select>   
            <label class="form_texto" for="brand">Marca:</label>
            <select name="brand" class="write_upload<%if(locals&&locals.errors&&errors.brand){%><%="text-danger"%><%}%>">
                <option value="" disabled selected>Elegí una marca... </option>>>
                <% brands.forEach(brand => { %>
                    <option value= "<%= brand.id %>"><%= brand.name %></option>                                        
                <% }) %>
            </select> 
            <label class="form_texto" for="model">Modelo:</label>
            <input type="text" name="model" id="model" class="write_upload<%= locals.errors && errors.model ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.model : null %>">
            <small class="text-danger productModel"></small>
            <% if (locals.errors && errors.model) { %>
            <div class="text-danger">
                <%= errors.model.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="description">Descripcion:</label>
            <input type="text" name="description" id="description" class="write_upload<%= locals.errors && errors.description ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.description : null %>">
            <small class="text-danger productModel"></small>
            <% if (locals.errors && errors.description) { %>
            <div class="text-danger">
                <%= errors.description.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="specs">Especificaciones Técnicas:</label>
            <input type="text" name="specs" id="specs" class="write_upload<%= locals.errors && errors.specs ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.specs : null %>">
            <small class="text-danger productSpecs"></small>
            <% if (locals.errors && errors.specs) { %>
            <div class="text-danger">
                <%= errors.specs.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="keywords">Palabras clave:</label>
            <input type="text" name="keywords" id="keywords" class="write_upload<%= locals.errors && errors.keywords ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.keywords : null %>">
            <small class="text-danger productKeywords"></small>
            <% if (locals.errors && errors.keywords) { %>
            <div class="text-danger">
                <%= errors.keywords.msg %> 
            </div>
            <% } %>
            <!-- Saque el for porque no pude validar con el iterador
            <#% # for (let i = 1; i <= 5; i++) { %>
                    <label class="form_texto" for="image<#%= i %>">Imagen <#%= i %>:</label>            
                    <input type="file" name="image<#%= i %>" class="write_upload<#%= locals.errors && errors.image ? 'is-invalid' : null %>">
                    <small class="text-danger imageProduct"></small>
                    <#% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <#%= errors.image.msg %>
                        </div> 
                <#% } %> -->
            <label class="form_texto" for="image1">Imagen 1:</label>
            <input type="file" name="image1" class="write_upload<%= locals.errors && errors.image1 ? 'is-invalid' : null %>">
            <small class="text-danger imageProduct"></small>
            <% if (locals.errors && errors.image1) { %>
                <div class="text-danger">
                    <%= errors.image1.msg %>
                </div>
            <% } %>
            <label class="form_texto" for="image2">Imagen 2:</label>
            <input type="file" name="image2" class="write_upload<%= locals.errors && errors.image2 ? 'is-invalid' : null %>">
            <small class="text-danger imageProduct"></small>
            <% if (locals.errors && errors.image2) { %>
                <div class="text-danger">
                    <%= errors.image2.msg %>
                </div>
            <% } %>
            <label class="form_texto" for="image3">Imagen 3:</label>
            <input type="file" name="image3" class="write_upload<%= locals.errors && errors.image3 ? 'is-invalid' : null %>">
            <small class="text-danger imageProduct"></small>
            <% if (locals.errors && errors.image3) { %>
                <div class="text-danger">
                    <%= errors.image3.msg %>
                </div>
            <% } %>
            <label class="form_texto" for="image4">Imagen 4:</label>
            <input type="file" name="image4" class="write_upload<%= locals.errors && errors.image4 ? 'is-invalid' : null %>">
            <small class="text-danger imageProduct"></small>
            <% if (locals.errors && errors.image4) { %>
                <div class="text-danger">
                    <%= errors.image4.msg %>
                </div>
            <% } %>
            <label class="form_texto" for="image5">Imagen 5:</label>
            <input type="file" name="image5" class="write_upload<%= locals.errors && errors.image5 ? 'is-invalid' : null %>">
            <small class="text-danger imageProduct"></small>
            <% if (locals.errors && errors.image5) { %>
                <div class="text-danger">
                    <%= errors.image5.msg %>
                </div>
            <% } %>

            <label class="form_texto" for="price">Precio:</label>
            <input type="text" name="price" id="price" class="write_upload<%= locals.errors && errors.price ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.price : null %>">
            <small class="text-danger productPrice"></small>
            <% if (locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="discount">Descuento:</label>
            <input type="text" name="discount" id="discount" class="write_upload<%= locals.errors && errors.discount ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.discount : null %>">
            <small class="text-danger productDiscount"></small>
            <% if (locals.errors && errors.discount) { %>
            <div class="text-danger">
                <%= errors.discount.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="stock">Stock:</label>
            <input type="text" name="stock" id="stock" class="write_upload<%= locals.errors && errors.stock ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.stock : null %>">
            <small class="text-danger productStock"></small>
            <% if (locals.errors && errors.stock) { %>
            <div class="text-danger">
                <%= errors.stock.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="stockMin">Stock Mínimo:</label>
            <input type="text" name="stockMin" id="stockMin" class="write_upload<%= locals.errors && errors.stockMin ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.stockMin : null %>">
            <small class="text-danger productStockmin"></small>
            <% if (locals.errors && errors.stockMin) { %>
            <div class="text-danger">
                <%= errors.stockMin.msg %> 
            </div>
            <% } %>
            <label class="form_texto" for="stockMax">Stock Máximo:</label>
            <input type="text" name="stockMax" id="stockMax" class="write_upload<%= locals.errors && errors.stockMax ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.stockMax : null %>">
            <small class="text-danger productStockmax"></small>
            <% if (locals.errors && errors.stockMax) { %>
            <div class="text-danger">
                <%= errors.stockMax.msg %> 
            </div>
            <% } %>
            <input class="enviaData" type="submit" value="Crear item">
        </div>
        </form>
</main>



<%- include('../partials/footer') %>
</body>
</html>