<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/styles_editProducts.css">
    <%- include('../partials/head') %>
    </head>
<body>
    <%- include('../partials/header') %>

    <main>
        <!-- Borrar esta línea cuando se termine con el CRUD de Productos --> <% locals.isLogged = 1 %>
        <% if (locals.isLogged) { %>
        <form action="/products/editProducts/<%= product.id %>" method="POST" enctype="multipart/form-data">
            <div class="edit">
            <h3 class="form_h3">Editar articulo</h3>
            <label class="form_texto" for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%= product.name %>" class="write_upload<%= locals.errors && errors.name ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
           
            <label class="form_texto" for="category">Categoría:</label>            
            <select class="write_upload"  name="category">
                <% for (let i = 0; i < categories.length; i++) {%>
                    <% if (categories[i].id == product.categoryId) {%>
                        <option value="<%=categories[i].id%>" selected>
                            <%= categories[i].name%>
                    </option>
                    <% } else {%>
                        <option value = "<%= categories [i].id%>">
                            <%=categories [i].name%>
            </option>
                        <%} %>
                        <%} %>
            </select>



            <label class="form_texto" for="brand">Marca:</label>
            <select class="write_upload"  name="brand">
                <% for (let i = 0; i < brands.length; i++) {%>
                    <% if (brands[i].id == product.brandId) {%>
                        <option value="<%=brands[i].id%>" selected>
                            <%= brands[i].name%>
                    </option>
                    <% } else {%>
                        <option value = "<%= brands [i].id%>">
                            <%=brands[i].name%>
            </option>
                        <%} %>
                        <%} %>
            </select>
                        
            
            
            
            
            
            <label class="form_texto" for="model">Modelo:</label>
            <input class="write_upload" type="text" name="model" id="model" value="<%= product.model %>">
            <label class="form_texto" for="description">Descripción:</label>
            <input class="write_upload" type="text" name="description" id="description" value="<%= product.description %>">
            <label class="form_texto" for="specs">Especificaciones Técnicas:</label>
            <input class="write_upload" type="text" name="specs" id="specs" value="<%= product.specs %>">
            <label class="form_texto" for="keywords">Palabras clave:</label>
            <input class="write_upload" type="text" name="keywords" id="keywords" value="<%= product.keywords %>">
             <label class="form_texto" for="old_image">Imagen Actual:</label>
            <input class="write_upload" type="old_image" name="old_image" value="<%= product.image %>"> 
            <label class="form_texto" for="image1">Imagen 1:</label>            
            <input class="write_upload" type="file" name="image1" value="<%= product.images[0].name %>">
            <label class="form_texto" for="image2">Imagen 2:</label>
            <input class="write_upload" type="file" name="image2" value="<%= product.images[1].name %>">
            <label class="form_texto" for="image3">Imagen 3:</label>
            <input class="write_upload" type="file" name="image3" value="<%= product.images[2].name %>">
            <label class="form_texto" for="image4">Imagen 4:</label>
            <input class="write_upload" type="file" name="image4" value="<%= product.images[3].name %>">
            <label class="form_texto" for="image5">Imagen 5:</label>
            <input class="write_upload" type="file" name="image5" value="<%= product.images[4].name %>">
            <label class="form_texto" for="price">Precio:</label> 
            <input class="write_upload" type="text" name="price" id="price" value="<%= product.price %>">
            <label class="form_texto" for="discount">Descuento:</label>
            <input class="write_upload" type="text" name="discount" id="discount" value="<%= product.discount %>">
            <label class="form_texto" for="stock">Stock:</label>
            <input class="write_upload" type="text" name="stock" id="stock" value="<%= product.stock %>">
            <label class="form_texto" for="stockMin">Stock Mínimo:</label>
            <input class="write_upload" type="text" name="stockMin" id="stockMin" value="<%= product.stockMin %>">
            <label class="form_texto" for="stockMax">Stock Máximo:</label>
            <input class="write_upload" type="text" name="stockMax" id="stockMax" value="<%= product.stockMax %>">
            <div class="botones_input">
                <input class="enviaData" type="submit" value="Confirmar Edicion">
            </div>
        </form>
        <form class="form is-inline" action="/products/productDetail/<%= product.id %>?_method=DELETE" method="POST">
            <div class="botones_input"></div>
                <button type="submit" class="enviaData">Borrar</button>
            </div>
        </form>

        <!-- opciones de colores para elegir al producto -->
        <datalist id="listacoloresperfil">
            <option value="#23049d">
            <option value="#999b84">
            <option value="#ffff00">
            <option value="#ffffff">
        </datalist>
        <% } else { %>
            <div class = "not-logged">
            <br>
            <br>
            <br>
            <br>
            <h4> Debes estar logueado para poder editar el producto </h4>
            <br>
            <br>
            </div>
            <% } %>
</main>



<%- include('../partials/footer') %>
</body>
</html>