<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/styles_productDetail.css">
    <title>We Do Studio - Detalle de producto</title>    
</head>

<body>
    
  <%- include('../partials/header') %>

    <main>
        <section>
            <div class="sublinks">
                <div class="root">
                    <a href="/">Home</a>
                    <p>/ <%= product.name %></p>
                </div>
                <div class="edit">
                    <a href="/products/editProducts/<%= product.id %>">Editar</a>
                 
                </div>
            </div>
            <article>               
                <div class="imagenes">
                    <div class="img_principal">
                        <img src="/images/<%= product.images[0].name %>" alt="Foto artículo 1" width="100%">
                    </div>                    
                    <div class="img_secundarias">                        
                        <% for (let i = 1; i < product.images.length; i++) { %>
                            <% if (product.images[i].name != '') { %>
                                <img src="/images/<%= product.images[i].name %>" alt="Foto artículo <%= i+1 %>" width="100%">
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="titulo">
                    <h1><%= product.name %></h1>
                    <h4><%= product.brand.name %> - <%= product.model %></h4>
                </div>
                <div class="informacion">
                    <div class="descripcion">
                        <h3>Descripcion</h3>
                        <p><%= product.description %></p>
                    </div>
                    <div class="especificaciones">
                        <h3>Especificaciones técnicas</h3>
                        <p><%= product.specs %></p>
                    </div>
                </div>
                <div class="datos_compra">
                    <div class="color_y_precio">
                        <!-- <div class="selector_color">
                            <h3>Color:</h3>
                            <div class="selector_color_1"></div>
                            <div class="selector_color_2"></div>
                            <div class="selector_color_3"></div>
                        </div> -->
                        <h2 class="precio">$ <%= product.price %></h2>
                    </div>
                    <form class="compra" action="/products/productCart" method="POST">
                        <div class="cantidad">
                            <label for="cantidad">Cantidad:</label>
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div>
                            <p>Hay <%= product.stock %> unidades en stock</p>
                        </div>   
                        <div class="boton_compra">
                            <button type="submit">Comprar</button>                    
                        </div>                         
                    </form>                       
                </div>
                <div class="envios">
                    <p>Envios a todo el pais</p>
                    <a href="">Calcular costos de envío</a>
                </div>
            </article>
        </section>
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>