<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
</head>

<body>
    <h3>Editar usuario:</h3>
    <form action="/users/update/<%= users.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="firstName" value="<%= users.firstName %>" required>
        <br>
        <label for="surname">Apellido</label>
        <input type="text" name="surname" id="surname" value="<%= users.surname %>" required>
        <br>
        <label for="userName">Nickname</label>
        <input type="text" name="userName" id="userName" value="<%= users.userName %>" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= users.email %>" required>
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="avatar">Imagen de avatar</label>
        <input type="file" name="avatar" id="avatar" accept=".jpg, .png" value="<%= users.avatar %>">
        <input type="hidden" name="oldAvatar" value="<%= users.avatar %>">
        <br>
        <button class="createUser" type="submit">Guardar</button>
    </form>
    <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
        <button class="deleteUser" type="submit">Borrar</button>
    </form>
    <a class="botonVolver" href="/users">Listado de Usuarios</a>
</body>
</html>