
                    <article>
                        <a href="/courses/<%= course.id %>">
                            <img src="/images/<%= course.image %>" alt="<%= course.name %>" class="course_img">
                         </a>              

                            <div class="main-article">
                              
                                <p class="precio">$ <%= course.price %>
                            
                                <h4 class="descripcion">
                                    <%= course.name %>
                                </h4>
                            </div>
                      
                    </article>