
                    <article>
                        <a href="/products/<%= product.id %>">
                            <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product_img">
                         </a>              

                            <div class="main-article">
                              
                                <p class="precio">$ <%= product.price %>
                            
                                <h4 class="descripcion">
                                    <%= product.name %>
                                </h4>
                            </div>
                      
                    </article>