
                    <article>
                        <a href="/services/<%= service.id %>">
                            <img src="/images/<%= service.image %>" alt="<%= service.name %>" class="service_img">
                         </a>              

                            <div class="main-article">
                              
                                <p class="precio">$ <%= service.price %>
                            
                                <h4 class="descripcion">
                                    <%= service.name %>
                                </h4>
                            </div>
                      
                    </article>