<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Wedo Studio</title>
</head>

<body>

    <%- include('../partials/header') %>

    <main>

        <form method="POST" action="register" enctype="multipart/form-data">
            <div class="box-register">
                <h3 class="form_h3">Crear Cuenta</h3>


                <!--nombre-->
                <label class="form_texto" for="firstName">Nombre</label>
                <input type="text" name="firstName" id="nombre" class="write_register <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.firstName : null %>">
                <% if (locals.errors && errors.firstName) { %>
                <div class="text-danger">
                    <%= errors.firstName.msg %> 
                </div>
                <% } %>
                <!--Apellido-->
                <label class="form_texto" for="lastName">Apellido</label>
                <input type="text" name="lastName" id="Apellido" class="write_register <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.lastName : null %>"
            >
            <% if (locals.errors && errors.lastName) { %>
                <div class="text-danger">
                    <%= errors.lastName.msg %> 
                </div>
            <% } %>
                <!--mail-->
                <label class="form_texto" for="email">E-Mail</label>
                <input type="email" name="email" id="email" class="write_register <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.email : null %>"
            >
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
                <!--contraseña-->
                <label class="form_texto" for="Password">Contraseña</label>
                <input type="password" name="password" id="password" class="write_register <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    >
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %> 
                <!--contraseña-->
                <!-- <label class="form_texto" for="repPassword">Repetir Contraseña</label>
                <input class="write_register" type="password" name="contraseña" id="contraseña"
                    placeholder="Al menos 6 caracteres" minlength="6" required>
                    -->
                <label class="form_texto">Imagen</label>
                <input type="file" name="avatar" accept=".jpg, .png" class="write_register">    
                <!--texto abajo-->
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <!--<input class="regiter_h4" type="submit" value="Crea tu cuenta">
                -->

                <a class="form-login" href="/users/login">¿Ya tenés cuenta? Ingresar</a>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>