<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/styles_register.css">
    <title>Wedo Studio</title>
</head>

<body>

    <%- include('../partials/header') %>

    <main>        
        <form action="profile/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="box-register">
                <h3 class="form_h3">Editar perfil</h3>
                <img src="/images/avatars/<%= user.avatar %>" class="img-radius" alt="User-Profile-Image" width="30%">
                <label class="form_texto" for="firstName">Nombre</label>
                <input type="text" name="firstName" id="nombre" class="write_register <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                value="<%= user.firstName %>">
                <% if (locals.errors && errors.firstName) { %>
                <div class="text-danger">
                    <%= errors.firstName.msg %> 
                </div>
                <% } %>
                <label class="form_texto" for="surname">Apellido</label>
                <input type="text" name="surname" id="Apellido" class="write_register <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                value="<%= user.surname %>">
            <% if (locals.errors && errors.surname) { %>
                <div class="text-danger">
                    <%= errors.surname.msg %> 
                </div>
                
            <% } %>

            <label class="form_texto" for="userName">Nombre de usuario</label>
            <input type="text" name="userName" id="Apellido" class="write_register <%= locals.errors && errors.userName ? 'is-invalid' : null %>"
            value="<%= user.userName %>">
        <% if (locals.errors && errors.userName) { %>
            <div class="text-danger">
                <%= errors.userName.msg %> 
            </div>
            
        <% } %>


                <label class="form_texto" for="email">E-Mail</label>
                <input type="email" name="email" id="email" class="write_register <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value="<%= user.email %>">
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
            
                <label class="form_texto" for="avatar">Imagen</label>
                <input type="file" name="avatar" id="avatar" class="write_register <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
                value="<%= user.avatar %>">
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                        <%= errors.avatar.msg %>
                    </div>
                <% } %> 
                <label class="form_texto" for="address">Dirección</label>
                <input type="text" name="address" id="address" class="write_register <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                value="<%= user.address %>">
                <% if (locals.errors && errors.address) { %>
                    <div class="text-danger">
                        <%= errors.address.msg %>
                    </div>
                <% } %>
                <label class="form_texto" for="telephone">Teléfono</label>
                <input type="text" name="telephone" id="telephone" class="write_register <%= locals.errors && errors.telephone ? 'is-invalid' : null %>"
                value="<%= user.telephone %>">
                <% if (locals.errors && errors.telephone) { %>
                    <div class="text-danger">
                        <%= errors.telephone.msg %>
                    </div>
                <% } %>
                <h3 class="form_h3">Cambiar contraseña</h3>
                <label class="form_texto" for="passwordOld">Contraseña Actual</label>
                <input type="password" name="passwordOld" id="passwordOld" class="write_register <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %> 
                    <label class="form_texto" for="passwordNew">Contraseña Nueva</label>
                    <input type="password" name="passwordNew" id="passwordNew" class="write_register <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %> 
                        <label class="form_texto" for="passwordConfirm">Repetir Contraseña Nueva</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="write_register <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>       
                <br>
                <button type="submit" class="btn btn-primary">Confirmar cambios</button>                
                <br>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>