<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de usuario</title>
</head>
<body>
    <h1>DETALLE DE USUARIO</h1>
   <div>
    <div><img src="/images/avatars/<%= users.avatar %>" alt="<%= users.firstName %> "></div>
    <p>Nombre: <%= users.firstName %> </p>
    <p>Apellido: <%= users.surname %> </p>
    <p>Nickname: <%= users.userName %> </p>
    <p>Email: <%= users.email %> </p>
    
    <br>
    <section>
        <button type="submit"><a class="botonModificar" href="/users/edit/<%= users.id %>">Editar</a></button>
        <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
            <p> <button type="submit">Borrar</button></p>
        </form>        
        <button type="submit"><a class="botonVolver" href="/users">Listado de Usuarios</a> </button>


    </section>
</div>
</body>
</html>